.btn{
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
    font-family:Verdana;
    transition:ease-out 0.5s;
}
.btn:hover{
    background-color: rgb(255, 61, 61);
    color: rgb(255, 255, 255);
    font-size: large;
}
.quantity{
    background-color: #9a9a9a;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-family: Verdana;
    font-weight: bold;
}